<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col s12 m8">
        <div class="reg-wrapper z-depth-1">
          <h1>Пополнение счета</h1>
          <div class="col s12 center">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>
            <p>Вы заказали пополнение счета на <span style="font-weight: bold;">500 RUB</span> через <span style="font-weight: bold;">QIWI</span>.</p>
            <p>Сделайте перевод на номер <span style="font-weight: bold;">+79876543210</span> и нажмите кнопку</p>
          </div>
          <div class="row checkrules">
            <div class="col s12 center">
              <a ng-click="$ctrl.goToPage('homePage')" class="waves-effect waves-light amber darken-2 btn-large">Проверить зачисление</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
