<div class="container registration" ng-if="$ctrl.emailChange">
  <div class="section">
    <div class="row">
      <div class="col m3">
      </div>
      <div class="col s12 m6">
        <div class="reg-wrapper z-depth-1">
          <h1>Смена email</h1>
          <div class="row">
            <form class="col s12" name="changeEmailForm" novalidate ng-submit="$ctrl.onChangeUserData(changeEmailForm.$valid)">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email"
                         name="email"
                         type="email"
                         required
                         ng-model="$ctrl.userChangeData.email"
                         ng-class="{'invalid' : (changeEmailForm.email.$error.required || changeEmailForm.email.$error.email) && changeEmailForm.$submitted,
                                    'valid' : !changeEmailForm.email.$error.required &&  !changeEmailForm.email.$error.email && changeEmailForm.$submitted}">
                  <label style="width: inherit;" for="email" data-error="{{changeEmailForm.email.$error.required ? 'Обязательное поле!' : 'Неправильный формат почтового адреса!'}}">Email</label>
                </div>
              </div>
              <div class="row checkrules">
                <button type="submit" class="waves-effect waves-light amber darken-2 btn-large">
                  <span>
                    Сохранить
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container registration" ng-if="$ctrl.passwordChange">
  <div class="section">
    <div class="row">
      <div class="col m3">
      </div>
      <div class="col s12 m6">
        <div class="reg-wrapper z-depth-1">
          <h1>Смена пароля</h1>

          <div class="row">
            <form class="col s12" name="changePasswordForm" novalidate ng-submit="$ctrl.onChangeUserData(changePasswordForm.$valid)">
              <div class="row">
                <div class="input-field col s12">
                  <input id="oldPassword"
                         name="oldPassword"
                         type="password"
                         required
                         ng-model="$ctrl.userChangeData.oldPassword"
                         ng-class="{'invalid' : changePasswordForm.oldPassword.$error.required  && changePasswordForm.$submitted,
                                    'valid' : !changePasswordForm.oldPassword.$error.required &&  changePasswordForm.$submitted}">
                  <label style="width: inherit;" for="oldPassword" data-error="Обязательное поле">Старый пароль</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password"
                         name="password"
                         type="password"
                         required
                         ng-model="$ctrl.userChangeData.password"
                         ng-class="{'invalid' : changePasswordForm.password.$error.required  && changePasswordForm.$submitted,
                                    'valid' : !changePasswordForm.password.$error.required &&  changePasswordForm.$submitted}">
                  <label style="width: inherit;" for="password" data-error="Обязательное поле">Новый пароль</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <input id="password2"
                           name="password2"
                           type="password"
                           required
                           ng-model="$ctrl.userChangeData.repPassword"
                           ng-class="{'invalid' : changePasswordForm.password2.$error.required  && changePasswordForm.$submitted,
                                    'valid' : !changePasswordForm.password2.$error.required &&  changePasswordForm.$submitted}">
                    <label style="width: inherit;" for="password2" data-error="Обязательное поле">Повторите новый пароль</label>
                  </div>
                </div>
              <div class="row checkrules">
                <button type="submit" class="waves-effect waves-light amber darken-2 btn-large">
                  <span>
                    Сохранить
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

