<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col s12 m8">
        <div class="reg-wrapper z-depth-1">
          <h1>Нехватка средств! Пополните баланс</h1>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="col s12">
                  <p>На вашем балансе: <span style="font-weight: bold;">0 RUB</span>.<br/>
                    Недостаточно средств для совершения ставок.</p>
                  <div class="row checkrules">
                    <div class="col s12">
                      <input type="checkbox" id="test6" checked="checked" />
                      <a ng-click="$ctrl.goToPage('depositPage')" class="waves-effect waves-light amber darken-2 btn-large">Перейти к пополнению баланса</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
