<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Ставь на футбол</h1>
      <div class="row center">
        <h5 class="header col s12 light">Лучшие условия, достойные коэффициенты</h5>
      </div>
      <div class="row center">
        <!--a href="#" id="download-button" class="btn-large waves-effect waves-light lighten-1">Get Started</a-->
      </div>
      <br><br>

    </div>
  </div>
  <div parallax><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m2">
        <div class="country">
          <div class="name">Россия</div>
          <div class="leagues">
            <ul>
              <li><a href="#">Премьер лига</a></li>
              <li><a href="#">Кубок</a></li>
              <li><a href="#">ФНЛ</a></li>
              <li><a href="#">Молодежное первенство</a></li>
            </ul>
          </div>
        </div>
        <div class="country">
          <div class="name">Испания</div>
        </div>
        <div class="country">
          <div class="name">Италия</div>
        </div>
        <div class="country">
          <div class="name">Германия</div>
        </div>
      </div>

      <div class="col s12 m10">
        <div class="">

          <div class="gamelist blue-grey darken-2">
            <div class="gametype active">Футбол</div>
            <div class="gametype"><a href="">Баскетбол</a></div>
            <div class="gametype"><a href="">Теннис</a></div>
            <div class="gametype"><a href="">Хоккей</a></div>
            <div class="gametype"><a href="">Гандбол</a></div>
            <div class="gametype"><a href="">Волейбол</a></div>
            <div class="gametype"><a href="">Бейсбол</a></div>
            <div class="gametype"><a href="">Еще...</a></div>
          </div>
          <div class="leagues white">

            <div class="league">Россия &mdash; Премьер лига</div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#" class=""><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
                <div class="variants">
                  <div class="betg">
                    <span class="member-short">1</span>
                    <a href="#"><span class="bet">1:0 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">2:1 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">3:0 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">3:1 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">3:2 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">4:0 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">4:1 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">4:2 <span class="kef">1.5</span></span></a>
                  </div>
                  <div class="betg">
                    <span class="member-short">X</span>
                    <a href="#"><span class="bet">0:0 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">1:1 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">2:2 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">3:3 <span class="kef">1.5</span></span></a>
                  </div>
                  <div class="betg">
                    <span class="member-short">2</span>
                    <a href="#"><span class="bet">0:1 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">1:2 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">0:3 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">1:3 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">2:3 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">0:4 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">1:4 <span class="kef">1.5</span></span></a>
                    <a href="#"><span class="bet">2:4 <span class="kef">1.5</span></span></a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="league">Россия &mdash; ФНЛ</div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="league">Россия &mdash; Молодежное первенство</div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>                <div class="games">
            <div class="datetime">
              <span class="date">27/10</span>
              <span class="time">19:30</span>
            </div>
            <div class="members">СКА-Хабаровск - Арсенал Тула</div>
            <div class="bet1x2">
              <a href="#"><span class="bet bet1">1.5</span></a>
              <a href="#"><span class="bet betx">10.25</span></a>
              <a href="#"><span class="bet bet2">1.5</span></a>
            </div>
            <div class="bet1x2">
              <a href="#"><span class="bet ">1.5</span></a>
              <a href="#"><span class="bet">10.25</span></a>
              <a href="#"><span class="bet">1.5</span></a>
            </div>
            <div class="betscore">
              <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
            </div>
          </div>
            <div class="games">
              <div class="datetime">
                <span class="date">27/10</span>
                <span class="time">19:30</span>
              </div>
              <div class="members">СКА-Хабаровск - Арсенал Тула</div>
              <div class="bet1x2">
                <a href="#"><span class="bet bet1">1.5</span></a>
                <a href="#"><span class="bet betx">10.25</span></a>
                <a href="#"><span class="bet bet2">1.5</span></a>
              </div>
              <div class="bet1x2">
                <a href="#"><span class="bet ">1.5</span></a>
                <a href="#"><span class="bet">10.25</span></a>
                <a href="#"><span class="bet">1.5</span></a>
              </div>
              <div class="betscore">
                <a href="#"><span class="bet"><i class="right material-icons">arrow_drop_down</i>точный счет</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
