<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Ставь на футбол</h1>
      <div class="row center">
        <h5 class="header col s12 light">Лучшие условия, достойные коэффициенты</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div parallax><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m2">
        <country-item
          ng-repeat="country in $ctrl.currentSport.countries"
          country-item="country"
          on-country-select="$ctrl.onCountrySelect(country)">
        </country-item>
      </div>
      <div class="col s12 m10">
        <div class="gamelist blue-grey darken-2">
          <div ng-repeat="sportItem in $ctrl.betsData.sports" class="gametype" ng-class="{'active': sportItem.selected}">
            <a href="" ng-click="$ctrl.onSportSelect(sportItem)">{{sportItem.sport}}</a>
          </div>
          <div class="gametype"><a href="">Еще...</a></div>
        </div>
        <div class="leagues white" ng-repeat="leagueItem in $ctrl.currentCountry.leagues">
          <div class="league">Россия &mdash; {{leagueItem.league}}</div>
          <div class="games">
            <bet-item
              match="matchItem" ng-repeat="matchItem in leagueItem.matches"
              on-bet-select="$ctrl.onBetSelect(value)">
            </bet-item>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

