<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m3">
      </div>
      <div class="col s12 m6">
        <div class="reg-wrapper z-depth-1">
          <h1>Регистрация</h1>

          <div class="row">
            <form class="col s12" name="regForm" novalidate ng-submit="$ctrl.onRegister(regForm.$valid)">
              <div class="row">
                <div class="input-field col s4">
                  <input id="last_name"
                         name="last_name"
                         type="text"
                         ng-model="$ctrl.userRegData.lastName"
                         required
                         ng-class="{'invalid' : regForm.last_name.$error.required && regForm.$submitted,
                                    'valid' : !regForm.last_name.$error.required && regForm.$submitted}">
                  <label for="last_name">Фамилия</label>
                </div>
                <div class="input-field col s4">
                  <input id="first_name"
                         name="first_name"
                         type="text"
                         required
                         ng-model="$ctrl.userRegData.firstName"
                         ng-class="{'invalid' : regForm.first_name.$error.required && regForm.$submitted,
                                    'valid' : !regForm.first_name.$error.required && regForm.$submitted}">
                  <label for="first_name">Имя</label>
                </div>
                <div class="input-field col s4">
                  <input id="fathers_name"
                         type="text"
                         name="fathers_name"
                         required
                         ng-model="$ctrl.userRegData.fathersName"
                         ng-class="{'invalid' : regForm.fathers_name.$error.required && regForm.$submitted,
                                    'valid' : !regForm.fathers_name.$error.required && regForm.$submitted}">
                  <label for="fathers_name">Отчество</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="phone"
                         name="phone"
                         type="text"
                         required
                         ng-model="$ctrl.userRegData.phone"
                         ng-class="{'invalid' : regForm.phone.$error.required && regForm.$submitted,
                                    'valid' : !regForm.phone.$error.required && regForm.$submitted}">
                  <label for="phone">Телефон</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email"
                         name="email"
                         type="email"
                         required
                         ng-model="$ctrl.userRegData.email"
                         ng-class="{'invalid' : (regForm.email.$error.required || regForm.email.$error.email) && regForm.$submitted,
                                    'valid' : !regForm.email.$error.required &&  !regForm.email.$error.email && regForm.$submitted}">
                  <label for="email" data-error="{{regForm.email.$error.email ? 'Обязательное поле!' : 'Неправильный формат почтового адреса!'}}">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password"
                         type="password"
                         name="password"
                         ng-model="$ctrl.userRegData.password"
                         required
                         ng-class="{'invalid' : regForm.password.$error.required && regForm.$submitted,
                                    'valid' : !regForm.password.$error.required && regForm.$submitted}">
                  <label for="password">Пароль</label>
                </div>
              </div>
              <div class="row checkrules">
                <input type="checkbox" id="test6" checked="checked" />
                <label for="test6">Подтверждаю, что ознакомлен и согласен с Правилами сайта, Политикой в отношении обработки персональных данных. Выражаю свое согласие на обработку моих персональных данных и на получение информационных сообщений</label>
                <br/><br/>
                <button type="submit" class="waves-effect waves-light amber darken-2 btn-large">
                  <span>
                    Зарегистрироваться
                  </span>
                  <!--a  class="waves-effect waves-light amber darken-2 btn-large">Зарегистрироваться</a-->
                </button>
                <span style="margin: 0 15px;">или</span>
                <a ng-click="$ctrl.goToLoginPage()" class="waves-effect waves-light  blue-grey lighten-5 btn" style="color: #666">Войти</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
