<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m1">
      </div>
      <div class="col s12 m10">
        <div class="reg-wrapper z-depth-1">
          <h1>История пари</h1>
          <h2>Активные пари</h2>
          Нет активных пари. <a href="/">Выберите линию и сделайте ставку.</a>
          <h2>Прошедшие пари</h2>
          <table>
            <thead>
            <tr>
              <th>Дата, время</th>
              <th>Игра</th>
              <th>Ставка x коэф.</th>
              <th>Выигрыш</th>
              <th>Пари</th>
              <th>Итог</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>20/06, 21:30</td>
              <td>Футбол: СКА-Хабаровск - Арсенал Тула</td>
              <td>1000 RUB x 6.5</td>
              <td>6500 RUB</td>
              <td>точный счет 1:0</td>
              <td>в игре</td>
            </tr>
            <tr>
              <td>20/06, 21:30</td>
              <td>Футбол: СКА-Хабаровск - Арсенал Тула</td>
              <td>10000 RUB x 6.5</td>
              <td>65000 RUB</td>
              <td>точный счет 1:1</td>
              <td>проигрыш</td>
            </tr>
            <tr>
              <td>20/06, 21:30</td>
              <td>Футбол: СКА-Хабаровск - Арсенал Тула</td>
              <td>8000 RUB x 6.5</td>
              <td>52000 RUB</td>
              <td>точный счет 1:2</td>
              <td>проигрыш</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
