<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m1">
      </div>
      <div class="col s12 m10">
        <div class="reg-wrapper z-depth-1">
          <h1>История пари</h1>
          <table style="font-size: 12px;">
            <thead>
            <tr>
              <th>Дата</th>
              <th>Игра</th>
              <th>Ставка x коэф.</th>
              <th>Выигрыш</th>
              <th>Пари</th>
              <th>Итог</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $ctrl.bets">
              <td>{{item.match.date}}<br/>{{item.match.time}}</td>
              <td>{{item.match.sport}}:<br/> {{item.match.team_1}} - {{item.match.team_2}}</td>
              <td>{{item.betValue}} RUB<br/> коэф. {{item.match.bets[item.betType]}}</td>
              <td>{{+item.betValue * +item.match.bets[item.betType]}} RUB</td>
              <td>{{$ctrl.betsNames[item.betType]}}</td>
              <td>{{$ctrl.statusNames[item.status]}}<br/>{{item.comment}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
