<div class="container registration">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col m3">
      </div>
      <div class="col s12 m6">
        <div class="reg-wrapper z-depth-1">
          <div class="row">
            <div class="input-field col s12 center">
              <h1>Вход на сайт</h1>
              <a href="restore.html">Забыли пароль?</a>
            </div>
          </div>
          <div class="row">
            <form class="col s12" name="logForm" novalidate ng-submit="$ctrl.onLogin(logForm.$valid)">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email"
                         name="email"
                         type="email"
                         required
                         ng-model="$ctrl.userLogData.email"
                         ng-class="{'invalid' : (logForm.email.$error.required || logForm.email.$error.email) && logForm.$submitted,
                                    'valid' : !logForm.email.$error.required &&  !logForm.email.$error.email && logForm.$submitted}">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password"
                         type="password"
                         name="password"
                         ng-model="$ctrl.userLogData.password"
                         required
                         ng-class="{'invalid' : logForm.password.$error.required && logForm.$submitted,
                                    'valid' : !logForm.password.$error.required && logForm.$submitted}">
                  <label for="password">Пароль</label>
                </div>
              </div>
              <div class="row center">
                <button class="waves-effect waves-light amber darken-2 btn-large" type="submit">
                  <span>
                    Войти
                  </span>
                </button>
                <span style="margin: 0 15px;">или</span>
                <a ng-click="$ctrl.goToRegistrationPage()" class="waves-effect waves-light  blue-grey lighten-5 btn" style="color: #666">Регистрация</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
