<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col s12 m8">
        <div class="reg-wrapper z-depth-1">
          <h1>Личный кабинет</h1>


          <div class="row">
            <div class="col s12">
              <ul tabs class="tabs tabs-fixed-width">
                <li class="tab col s2"><a class="active" href="#test1">Мой баланс</a></li>
                <li class="tab col s2"><a href="#test2">Моя информация</a></li>


              </ul>
            </div>
            <div id="test1" class="col s12">
              <h2>Баланс</h2>
              <div class="col s4 m4 l4 center">
                <i class="small material-icons">account_balance_wallet</i><br/>
                Баланс: 0 RUB <br/>
                <a href="deposit.html">пополнить</a> / <a href="withdraw.html">вывести</a><br/>
              </div>
              <div class="col s4 m4 l4 center">
                <i class="small material-icons">loop</i><br/>
                В игре: 1000 RUB<br/>
              </div>
              <div class="col s4 m4 l4 center">
                <i class="small material-icons">flag</i><br/>
                Активных пари: <a href="history.html">1</a></div>
            </div>


            <div id="test2" class="col s12">
              <h2>Личная информация</h2>
              <div><span class="info-lable">Фамилия:</span>Константинопольский</div>
              <div><span class="info-lable">Имя:</span>Константин</div>
              <div><span class="info-lable">Отчество:</span>Константинович</div>
              <div><span class="info-lable">Email:</span>example@email.com <a href="#">изменить</a></div>
              <div><span class="info-lable">Логин:</span>99878548</div>
              <div><span class="info-lable">Мобильный телефон:</span> +79161234567</div>
              <div style="margin-top: 30px;"><a href="#">Изменить пароль</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
