<div class="container registration">
  <div class="section">
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col s12 m8">
        <div class="reg-wrapper z-depth-1">
          <h1>Пополнение счета</h1>
          <div class="row">
            <form class="col s12"
                  name="depositForm"
                  novalidate
                  ng-submit="$ctrl.onCreateDeposit(depositForm.$valid)"
                  action="https://money.yandex.ru/quickpay/confirm.xml"
                  method="POST">
              <input type="hidden" name="receiver" value="410013085773025">
              <input type="hidden" name="quickpay-form" value="shop">
              <input type="hidden" name="targets" value="Пополнение счета">
              <input type="hidden" name="paymentType" value="AC">
              <input type="hidden" name="label" value="{{$ctrl.user.userId}}">
              <input type="hidden" name="successURL" value="http://wearefabricated.com">

              <div class="row">
                <div class="col s12">
                  1. Выберите платежную систему:
                  <p>
                    <input name="group1" type="radio" id="test2" disabled="disabled" />
                    <label class="payment-type" for="test2">QIWI</span><br><span class="desc">Сумма пополнения: от 500 до 50000 RUB в зависимости от типа аккаунта Qiwi</span></label>
                  </p>
                  <p>
                    <input name="group1" type="radio" id="test4" disabled="disabled" />
                    <label class="payment-type" for="test4">Банковские карты VISA, Mastercard<br/> <span class="desc">пополнение временно невозможно</span></label>
                  </p>
                  <p>
                    <input class="with-gap" name="group1" type="radio" id="test3" checked="checked"  />
                    <label class="payment-type" for="test3">Яндекс деньги<br/> <span class="desc">пополнение временно невозможно</span></label>
                  </p>
                  <p>
                    <input class="with-gap" name="group1" type="radio" id="test3" disabled="disabled"  />
                    <label class="payment-type" for="test3">МТС, Билайн, Мегафон, Теле2<br/> <span class="desc">пополнение временно невозможно</span></label>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  2.
                  <div class="input-field inline">
                    <input id="sum"
                           name="sum"
                           type="text"
                           ng-class="{'invalid' : depositForm.sum.$error.required && depositForm.$submitted,
                                    'valid' : !depositForm.sum.$error.required && depositForm.$submitted}"
                           ng-model="$ctrl.depositData.depositValue"
                           required>
                    <label style="width: inherit;" for="sum" data-error="Обязательное поле">Сумма пополнения</label>
                  </div>
                  RUB
                </div>
                <div class="col s12">
                  3. Телефон для оплаты:
                  <div class="input-field inline">
                    <input id="phone"
                           name="phone"
                           type="text"
                           required
                           ng-model="$ctrl.depositData.phone"
                           ng-class="{'invalid' : depositForm.phone.$error.required  && depositForm.$submitted,
                                    'valid' : !depositForm.phone.$error.required &&  depositForm.$submitted}">
                    <label style="width: inherit;" for="phone" data-error="Обязательное поле">Телефон</label>
                  </div>
                </div>
              </div>

              <div class="row checkrules">
                <div class="col s12">
                  <input type="checkbox" id="test6" checked="checked" />
                  <label for="test6">Нажимая "Пополнить" я подтверждаю, что ознакомлен и согласен с Правилами использования сайта</label>
                  <button type="submit" class="waves-effect waves-light amber darken-2 btn-large">
                  <span>
                    Пополнить счет
                  </span>
                  </button>
                </div>
              </div>

            </form>
            <!--form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
              <input type="hidden" name="receiver" value="410013085773025">
              <input type="hidden" name="formcomment" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
              <input type="hidden" name="short-dest" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
              <input type="hidden" name="label" value="$order_id">
              <input type="hidden" name="quickpay-form" value="donate">
              <input type="hidden" name="targets" value="транзакция {order_id}">
              <input type="hidden" name="sum" value="1" data-type="number">
              <input type="hidden" name="comment" value="Хотелось бы дистанционного управления.">
              <input type="hidden" name="wrewrwerewr" value="Хотелось ewrwerwerwerwer дистанционного управления.">
              <input type="hidden" name="wrewrwerewr" value="Хотелось ewrwerwerwerwer дистанционного управления.">
              <input type="hidden" name="wrewrwerewr" value="Хотелось ewrwerwerwerwer дистанционного управления.">
              <input type="hidden" name="need-fio" value="true">
              <input type="hidden" name="need-email" value="true">
              <input type="hidden" name="need-phone" value="false">
              <input type="hidden" name="need-address" value="false">
              <label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
              <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
              <input type="hidden" name="paymentType" value="AC">
              <input type="submit" value="Перевести">
            </form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
