<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel hoverable">
          <table class="striped">
            <thead>
            <tr>
              <th></th>
              <th>Скинули</th>
              <th>Пари / скинули</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Сегодня</td>
              <td>10000 из 12000</td>
              <td>5 / 4</td>
            </tr>
            <tr>
              <td>Вчера</td>
              <td>0 из 0</td>
              <td>0 / 0</td>
            </tr>
            <tr>
              <td>Неделя</td>
              <td>10000 из 12000</td>
              <td>5 / 4</td>
            </tr>
            <tr>
              <td>Прошлая неделя</td>
              <td>100000 из 100000</td>
              <td>20 / 20</td>
            </tr>
            <tr>
              <td>Месяц</td>
              <td>10000 из 12000</td>
              <td>5 / 4</td>
            </tr>
            <tr>
              <td>Прошлый месяц</td>
              <td>10000 из 12000</td>
              <td>5 / 4</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-panel hoverable">
          <table class="striped">
            <thead>
            <tr>
              <th>Время пари</th>
              <th>Игрок</th>
              <th>Матч (дата время команды)</th>
              <th>Пари</th>
              <th>Сумма ставки</th>
              <th><i class="material-icons">attach_money</i></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>12.12.2017 23:15</td>
              <td>Иванов Иван +79251234567</td>
              <td><a href="#">15.12.2017 20:00 Ливерпуль-Челси</a></td>
              <td>точный счет 1:0</td>
              <td>4000</td>
              <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
              <td>12.12.2017 22:04</td>
              <td>Сергей Шмелев +79000011100</td>
              <td><a href="#">15.12.2017 20:00 Ливерпуль-Челси</a></td>
              <td>точный счет 1:0</td>
              <td>4000</td>
              <td><i class="material-icons">clear</i></td>
            </tr>
            <tr>
              <td>12.12.2017 22:04</td>
              <td>Сергей Шмелев +79000011100</td>
              <td><a href="#">15.12.2017 20:00 Ливерпуль-Челси</a></td>
              <td>точный счет 1:0</td>
              <td>4000</td>
              <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
              <td>12.12.2017 22:04</td>
              <td>Сергей Шмелев +79000011100</td>
              <td><a href="#">15.12.2017 20:00 Ливерпуль-Челси</a></td>
              <td>точный счет 1:0</td>
              <td>4000</td>
              <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
              <td>12.12.2017 22:04</td>
              <td>Сергей Шмелев +79000011100</td>
              <td><a href="#">15.12.2017 20:00 Ливерпуль-Челси</a></td>
              <td>точный счет 1:0</td>
              <td>4000</td>
              <td><i class="material-icons">check</i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-panel hoverable"></div>

      </div>

    </div>
  </div>
</div>
