<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel hoverable">
          <table class="striped">
            <thead>
            <tr>
              <th>Время пополнения</th>
              <th>Игрок</th>
              <th>Сервис</th>
              <th>Сумма пополнения</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in $ctrl.deposits">
              <td>{{item.createdAt}}</td>
              <td>{{item.user.lastName}} {{item.user.firstName}} {{item.user.phone}}</td>
              <td>{{item.paymentType}}</td>
              <td>{{item.depositValue}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-panel hoverable">
          <table class="striped">
            <thead>
            <tr>
              <th>Время пари</th>
              <th>Игрок</th>
              <th>Матч (дата время команды)</th>
              <th>Пари</th>
              <th>Сумма ставки</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in $ctrl.bets">
              <td>{{item.createdAt}}</td>
              <td>{{item.user.lastName}} {{item.user.firstName}} {{item.phone}}</td>
              <td><a href="#">{{item.match.date}} {{item.match.time}} {{item.match.team_1}}-{{item.match.team_2}}</a></td>
              <td>{{$ctrl.betsNames[item.betType]}}</td>
              <td>{{item.betValue}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-panel hoverable"></div>

      </div>

    </div>
  </div>
</div>
